/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-300.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-300.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-300italic.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-300italic.woff') format('woff');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-regular.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-italic.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-500.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-500.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-500italic.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-500italic.woff') format('woff');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-700.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-700.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-700italic.woff2') format('woff2'),
    url('../webfonts/Roboto/roboto-v16-latin_cyrillic-700italic.woff') format('woff');
    font-style: italic;
    font-weight: 700;
}
/* ===== */

html, body {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    line-height: 1.15;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #cccccc;
    outline: none;
}

* > a {
    color: #cccccc;
}

.el__centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons__centered {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 260px;
}

/*HAMBURGER*/


.gamburger {
    position: relative;
    width: 24px;
    height: 16px;
    transition: all 0.4s;
    cursor: pointer;
    top: 22px;
    display: none;
}


.gamburger:before, .menu-line-mobile__close:before {
    top: 0;
}
.gamburger:before, .gamburger:after, .menu-line-mobile__close:before, .menu-line-mobile__close:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4b789f;
    transition: all 0.4s;
    border-radius: 15em;
}
::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

.gamburger__line, .menu-line-mobile__close__line {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 2px;
    background-color: #4b789f;
    transition: all 0.4s;
    border-radius: 15em;
}

.gamburger:after, .menu-line-mobile__close:after {
    bottom: 0;
}
.gamburger:before, .gamburger:after, .menu-line-mobile__close:before, .menu-line-mobile__close:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4b789f;
    transition: all 0.4s;
    border-radius: 15em;
}

.gamburger.active, .menu-line-mobile__close, .menu-line-mobile__close.active {
    transition: all 0.4s;
}

.gamburger.active:before, .menu-line-mobile__close:before, .menu-line-mobile__close.active:before {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
}

.gamburger.active .gamburger__line, .menu-line-mobile__close .gamburger__line, .menu-line-mobile__close.active .gamburger__line {
    opacity: 0;
}

.gamburger.active:after, .menu-line-mobile__close:after, .menu-line-mobile__close.active:after {
    -webkit-transform: translateY(50%) rotate(-45deg);
    transform: translateY(50%) rotate(-45deg);
    bottom: 50%;
}


/*HEADER*/


.menu__line--list{
  font-size: 12px;
  color: #cccccc;
}

.header__inner {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 150px;
    position: relative;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: unset;
}

.header__underline {
    position: relative;
}

.header__underline:after {
    content: '';
    display: block;
    width: 98%;
    height: 1px;
    background-color: #e4e4e4;
    position: absolute;
    bottom: -10px;
}

.header__logo--svg {
    max-width: 200px;
    min-height: 100px;
    margin: 0 auto;
    background: url(../image/icons/logo.svg) no-repeat center/contain;
}

.header__logo-text {
    font-size: 10px;
    color: #666666;
    text-align: center;
    padding: 4px 0;
}

.header__city {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.header__city--name {
    font-size: 12px;
    font-weight: bold;
    color: #000c41;
    text-transform: capitalize;
    padding: 6px;
}

.header__city--change {
    font-size: 10px;
    cursor: pointer;
    text-decoration: underline;
    color: #878d92;
    padding: 6px;
}

.header__info--delivery {
    font-size: 18px;
    font-weight: 700;
    color: #000c41;
    text-align: center;
}

.header__info--delivery span {
    color: #fe3f40;
}

.header__info--menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.header__info--item {
    padding: 6px;
}

a.header__info--link {
    color: #000c41;
    font-size: 12px;
}

.header__call {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header__phone {
    color: #000c41;
    font-size: 18px;
    font-weight: 700;
}

.header__call--icon {
    width: 24px;
    height: 22px;
    margin-right: 4px;
}

.header__hours {
    font-size: 10px;
    color: #797979;
}

.header__region {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.header__region--item img {
    width: 20px;
    border: 1px solid #e4e4e4;
}

.header__search {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header__search--wrapper {
    position: relative;
    width: 100%;
    font-size: 14px;
}

.header__search--field {
    border: 1px solid #4b789f;
    border-radius: 3px 0 0 3px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
}

.header__search--field::placeholder {
    font-size: 12px;
    line-height: 1.15;
}

.header__search--dropdown {
    width: 100px;
    height: 37px;
    font-size: 12px;
    color: #000c41;
    position: absolute;
    text-align: center;
    cursor: pointer;
    padding-top: 12px;
    padding-right: 14px;
    top: 1px;
    right: 0;
}

.header__search--dropdown:before {
    content: '';
    width: 1px;
    height: 28px;
    background-color: #e4e4e4;
    position: absolute;
    left: 0;
    top: 5px;
}

.header__search--dropdown:after {
    content: '';
    background: url(../image/icons/catalog-dropdown.svg) no-repeat center/6px;
    position: absolute;
    width: 8px;
    height: 10px;
    right: 8px;
    top: 13px;
    transform: rotate(90deg);
    transition: all 0.3s ease-out;
}

.header__search--dropdown.active:after {
    content: '';
    background: url(../image/icons/catalog-dropdown.svg) no-repeat center/6px;
    position: absolute;
    width: 8px;
    height: 10px;
    right: 8px;
    top: 13px;
    transform: rotate(270deg);
    transition: all 0.3s ease-out;
}

.header__search--button {
    width: 40px;
    height: 40px;
    background: #4b789f url("../image/icons/magnifying-glass.svg") center center no-repeat;
    background-size: 18px;
    border: none;
    border-radius: 0 3px 3px 0;
}

.header__personal {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__personal--icon {
    width: 18px;
    height: 18px;
    margin: 5px auto;
}

.header__personal--comparison .header__personal--icon {
    background: url("../image/icons/bar-chart.svg") no-repeat center/16px;
}

.header__personal--favourite .header__personal--icon {
    background: url("../image/icons/heart.svg") no-repeat center/16px;
}

.header__personal--auth .header__personal--icon {
    background: url("../image/icons/user.svg") no-repeat center/16px;
}

.header__personal--text {
    font-size: 12px;
    color: #000c41;
    text-align: center;
}


.header__cart {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.header__cart--icon {
    width: 24px;
    height: 20px;
    background: url(../image/icons/shopping-bag2.svg) no-repeat top left;
    background-size: 20px;
    margin: 2px 0;
}

.header__cart--goods {
    font-size: 12px;
    color: #333333;
}

.header__cart--quantity {
    font-weight: 700;
}

.header__cart--summary {
    font-size: 10px;
    color: #666666;
}

.header__discount {
    line-height: 10px;
    margin-top: 4px;
}

.header__discount--personal {
    font-size: 10px;
    color: #fe3f40;
}

.header__discount--more a {
    font-size: 10px;
    color: #3f4564;
    text-decoration: underline;
}


.header__catalog {
    background-color: #4b789f;
    height: 50px;
}

.header__catalog--row {
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px;
}

.header__catalog--item {
    display: block;
    font-size: 14px;
    max-width: 120px;
    text-decoration: none;
    text-align: center;
}

.header__catalog a.header__catalog--item {
    color: #fff;
}

.header__catalog--icon {
    width: 18px;
    height: 18px;
    background: url(../image/icons/menu-three-horizontal-lines-symbol.svg) no-repeat center/16px;
}


footer {
    border-top: 1px solid #e4e4e4;
}

.footer__item--head,
.footer__item--link {
    display: block;
    font-size: 14px;
}

.footer__item--head {
    color: #000c41;
    font-weight: 700;
    padding: 20px 0;
}

.footer__item--link {
    color: #666666;
    padding-bottom: 10px;
}

a.active {
    color: #000c41;
    font-weight: 700;
}

.footer__item--button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: 1px solid #6aacd5;
    border-radius: 3px;
    background-color: #e6edf7;
    padding: 0 10px;
    max-width: 255px;
}

.footer__item--icon {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../image/icons/message.svg) no-repeat center/22px;
}

.footer__item--text {
    display: block;
    color: #000c41;
    font-weight: 500;
    font-size: 20px;
}

.footer__socials {
    padding: 20px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.footer__socials a {
    display: block;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 18px;
    color: #666666;
}

.footer__socials svg {
    fill: #999999;
}

.footer__bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #666666;
    font-size: 12px;
}

.footer__socials--youtube:hover  {
    color: #FF0000;
}

.footer__socials--instagram:hover {
    color: #bc2a8d;
}

.footer__socials--vk:hover {
    color: #4a76a8;
}

.footer__socials--odnoklassniki:hover {
    color: #ee8208;
}

.footer__socials--facebook:hover {
    color: #29487d;
}

@media (max-width: 1200px) {

    .footer__item--text {
        font-size: 16px;
    }
}



/*MAIN*/



.container__padded {
    padding-top: 30px;
}

.main__button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: 1px solid #6aacd5;
    border-radius: 3px;
    background-color: #e6edf7;
    padding: 0 10px;
    width: 240px;
    position: relative;
}

.main__button--text {
    font-size: 18px;
    color: #000c41;
    text-align: left;
    display: block;
    width: 180px;
}

.main__button--link {
    display: block;
    position: absolute;
    font-size: 10px;
    bottom: 6px;
    right: 6px;
    color: #4e5860;
    text-decoration: underline;
}

.main__button--icon {
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.button__pig {
    background: url(../image/icons/piggybank.svg) no-repeat center/26px;
}

.button__truck {
    background: url(../image/icons/shipped.svg) no-repeat center/26px;
}

.button__award {
    background: url(../image/icons/award.svg) no-repeat center/26px;
}

.button__agree {
    background: url(../image/icons/agreement.svg) no-repeat center/26px;
}

.button__gift {
    background: url(../image/icons/big-gift-box.svg) no-repeat center/24px;
}

.main__button--span {
    color: #6aacd5;
    font-size: 14px;
}

.main__button--span.red {
    font-size: 18px;
}

.red {
    color: #fe3f40;
}

.goods__banner {
    max-height: 260px;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #f3f3f3;
}

/*CATALOG*/

.main__catalog {
    padding-top: 20px;
}

.catalog__category {
    width: 200px;
    height: 280px;
    margin: 6px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f3f3f3;
    padding-bottom: 6px;
}

.catalog__category--image {
    width: 100%;
    height: 180px;
    background-size: 90%;
}

.catalog__category--quantity {
    color: #4b789f;
    font-size: 14px;
    font-weight: 700;
}

.catalog__category--name {
    color: #000c41;
    font-size: 16px;
    font-weight: 700;
    max-width: 130px;
    text-align: center;
}

.catalog__category--prices {
    color: #999999;
    font-size: 14px;
}

.promo__banner {
    border-top: 1px solid #8fc1e0;
    border-bottom: 1px solid #8fc1e0;
    min-height: 150px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
}

.h1 {
    font-size: 22px;
    color: #000c41;
    font-weight: 700;
    position: relative;
    text-indent: 10px;
    margin-bottom: 30px;
}

.h1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 4px;
    margin-right: 6px;
    background-color: #6aacd5;
    float: left;
}

.small__text {
    font-size: 12px;
    color: #999999;
    text-align: center;
}

.header__margin {
    margin-top: 15px;
}

.promo__banner--header .red {
    font-size: 22px;
}

.promo__banner--politic {
    font-size: 14px;
    color: #333333;
}

.promo__banner--politic a {
    text-decoration: underline;
    color: #333333;
}


/*INPUT*/


.newsletter__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main__input {
    float: left;
    outline: none;
    width: 260px;
    height: 40px;
    padding: 12px;
    border: 1px solid #e4e4e4;
    font-weight: lighter;
    font-size: 15px;
    color: #999999;
    background-color: #fff;
    border-radius: 2px;
    margin-right: 10px;

    @media (max-width: 900px) {
        float: none;
        width: 200px;
        margin: 0 auto;
    }

        &::placeholder {
            color: #999999;
            font-size: 14px;
            line-height: 14px;
        }
}

.main__input--button {
    float: left;
    display: block;
    outline: none;
    height: 40px;
    width: 150px;
    background-color: #4b789f;
    border: none;
    color: #fff;
    padding: 14px 32px;
    font-size: 14px;
    border-radius: 2px;

    @media (max-width: 900px) {
        float: none;
        width: 200px;
        margin: 10px auto;
    }

    &:hover {
        color: #fff;
    }
}

.main__text {
    padding: 30px 0;
    font-size: 14px;
    line-height: 22px;
}

.main__banner--small {
    background: url("../image/img/small__banner.png") no-repeat center;
    border: 1px solid #f3f3f3;
    height: 200px;
    width: 240px;
}

.small__banner--header {
    max-width: 200px;
    color: #000c41;
    text-align: center;
    margin: 20px auto;
}

.btn__blue {
    display: block;
    width: 170px;
    color: #fff;
    background: #4b789f;
    height: 40px;
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
}

/*ARTICLES*/


.main__item--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main__item {
    max-width: 100%;
    height: 400px;
    border: 1px solid #f3f3f3;
}

.main__item--info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.main__item--img {
    height: 200px;
    width: 100%;
}

.main__item--head {
    font-size: 18px;
    color: #000c41;
    font-weight: 700;
    padding: 6px 0;
}

.main__item--date {
    font-size: 12px;
    color: #999999;
    padding: 10px 0;
}

.main__item--text {
    font-size: 14px;
    color: #333333;
    padding: 10px 0;
}


/*BREADCRUMBS*/


.breadcrumb {
    background: transparent;
    padding-left: 0;
    margin-bottom: 0;
}

.breadcrumb__item + .breadcrumb__item:before {
    content: "/";
    display: inline-block;
    color: #666666;
    opacity: 1;
    margin: 0 10px;
}

.breadcrumb__link {
    color: #666666;
    text-decoration: none;
    font-size: 12px;
}


/*CATALOG*/


.catalog__item {
    width: 180px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f3f3f3;
    padding: 10px;
    margin: 0 auto 20px;
}

.item--type {
    font-size: 12px;
    color: #999999;
}

.catalog__item--header {
    font-size: 14px;
    color: #000c41;
    font-weight: 700;
}

.catalog__item--image {
    min-height: 100px;
    width: 100%;
    position: relative;
}

.catalog__item--brand {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 4px;
    right: 4px;
}

.catalog__item--country {
    position: absolute;
    width: 30px;
    height: 20px;
    bottom: 4px;
    left: 4px;
}

.catalog__item--info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.catalog__item--favourite {
    width: 22px;
    height: 22px;
    background: url("../image/icons/heart.svg") no-repeat center/19px;
    position: relative;
    cursor: pointer;
}

.catalog__item--favourite.not-favourite:before {
    content: '+';
    position: absolute;
    display: block;
    height: 10px;
    background: #fff;
    width: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 10px;
    color: #000c41;
    bottom: 0;
    right: 0;
}

.catalog__item--prices {
    color: #4b789f;
    font-size: 14px;
    font-weight: 700;
}

.sort__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 14px;
    color: #666666;
    font-weight: 700;
    padding-bottom: 10px;
}

.sort {
    color: #333333;
    margin: 0 10px;
    cursor: pointer;
}

.sort.active {
    color: #000c41;
}

.sort i {
    color: #9f9f9f;
    font-size: 20px;
}

.sort.active i {
    color: #4b789f;
}

/*CLOSE BUTTON*/


.close__butoon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    background: url("../image/icons/close.svg") no-repeat center/18px;
    cursor: pointer;
    z-index: 1;
}

/*CATALOG FASTBUY*/

.fastbuy__wrapper {
    position: relative;
    margin-bottom: 10px;
}

.fastbuy__wrapper.hidden {
    display: none;
}

.fastbuy {
    position: relative;
    width: 100%;
    min-height: 210px;
    border: 1px solid #85bcdc;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.fastbuy__item {
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fastbuy__item--header {
    font-size: 14px;
    color: #000c41;
    font-weight: 700;
}

.fastbuy__item--info {
    font-size: 12px;
    color: #999999;
    padding: 4px 0;
}

.fastbuy-span {
    color: #333333;
}

.fastbuy__button {
    display: block;
    position: relative;
    width: 170px;
    color: #4b789f;
    background: #fff;
    border: 1px solid #4b789f;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    padding-right: 16px;
}

.fastbuy__button:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: url("../image/icons/shopping-button.svg") no-repeat center/16px;
    left: 20px;
    top: 4px;
}

.fastbuy__item a {
    margin: 10px 0 0;
    height: 30px;
    line-height: 16px;
}


.fastbuy__table {
    flex-grow: 1;
    padding-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fastbuy__table .h1 {
    max-width: 200px;
    margin: 0 auto 0.5rem;
}


/*QUANTITY*/


.fastbuy__item--quantity {
    display: flex;
}

.quantity {
    display: inline-block;
    width: 45px;
    height: 20px;
    border: 1px solid #8a8a8a;
    text-align: center;
    font-size: 14px;

    &::placeholder {
        font-size: 12px;
        color: #333333;
        text-align: center;
     }
}

.quantity-btn {
    border: 1px solid #8a8a8a;
    display: inline-block;
    width: 30px;
    height: 20px;
    text-align: center;
    color: #333333;
    cursor: pointer;
    padding-top: 1px;
}

.quantity-btn i {
    color: #8a8a8a;
}

.quantity-minus {
    border-right: none;
}

.quantity-plus {
    border-left: none;
}

/*FILTER*/


.filter__wrapper ul {
    padding: 0;
}

.menu {
    padding: 0;
    border: 1px solid #f3f3f3;
    border-radius: 2px;
}

.menu li {
    list-style-type: none;
    clear: both;
}

.menu__item {
    padding: 10px 20px;
    text-align: left;
    position: relative;
    border-top: 1px solid #f3f3f3;
}

.menu__item:first-child {
    border: none;
}

.menu__link {
    color: #000033;
    font-size: 14px;
    font-weight: 700;
}

.menu__dropdown {
    position: absolute;
    right: 10px;
    top: 20px;
    transform: translateX(-50%) translateY(-50%);
    font-size: 14px;
    font-style: normal;
    line-height: 0;
    transition: 0.15s ease;
    color: #8a8a8a;
    height: 16px;
    width: 16px;
    text-align: center;
    cursor: pointer;
}

.menu__dropdown.submenu__active i:before {
    content: "\f077";
}

.submenu {
    display: none;
}


/*CHECKBOX*/

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 25px;
    height: 17px;
    display: inline-block;
    line-height: 19px;
    background-position: left center;
    vertical-align: middle;
    cursor: pointer;
    margin: 5px 0;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

.css-label {
    background: url('../image/icons/square.svg') no-repeat;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background: url('../image/icons/checked.svg') no-repeat left center;
    background-size: 14px;
}


/*TABLE*/


.catalog__table {
    border-collapse: collapse;
    width: 100%;
}

.catalog__table td,
.catalog__table th {
    border: 1px solid #95cceb;
    text-align: center;
    padding: 5px;
}

.catalog__table th  {
    color: #000c41;
    font-size: 12px;
    font-weight: 500;
}

.catalog__table td  {
    color: #666666;
    font-size: 10px;
    font-weight: 300;
}



/*RANGE*/


.range {
    min-height: 38px;
    background: #fff;


    &__prev,
    &__next {
         font-size: 14px;
         font-weight: 500;
         color: #333333;
         margin: 0 4px;
         padding: 5px;
         outline: none;
         min-width: 66px;
         max-width: 66px;

        @media (min-width: $screen-lg) {
            margin: 0 15px;
        }
    }

    &__input {
         height: 4px;
         background: #f3f3f3;
         width: 100%;
         margin: 20px 6px 10px;
         position: relative;
         text-align: left;

        @media (min-width: $screen-xs) {
            width: 200px;
        }
    }
}

.ui-slider-handle {
    height: 12px;
    width: 4px;
    top: -4px;
    background: #4b789f no-repeat center/10px;
    cursor: pointer;
    outline: none;
    z-index: 1;
    margin-left: -.2em;
    position: absolute;
    touch-action: none;
}

.ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-color: #4b789f;
    height: 100%;
}

.range__wrapper {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.range__label {
    font-size: 14px;
    color: #333333;
}

.submenu__active + .submenu {
    display: block;
}


/*QUERIES*/


@media (max-width: 1200px) {

    .hidden-md,
    .header__search--dropdown {
        display: none;
    }

    .header__logo--svg {
        min-height: 70px;
    }

    .header__inner {
        min-height: unset;
        padding-top: 0;
    }

    .header__content {
        justify-content: space-around;
    }

    .container {
         max-width: 100%;
    }

    .gamburger {
        display: block;
    }

    .header__mobile--dropdown {
        display: none;
    }

    .header__mobile--dropdown.active {
        display: flex;
        position: absolute;
        top: 101px;
        z-index: 200;
        left: 0;
        background: #fff;
        width: 300px;
        height: auto;
        min-height: 220px;
        border: 1px solid #dddddd;
        text-align: center;
        padding: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 991px) {

    .header__search--field::placeholder {
        font-size: 0;
        line-height: 1.15;
    }

    .header__catalog {
        display: none;
    }

}

@media (max-width: 768px) {

    .hidden-sm {
        display: none;
    }
}

@media (max-width: 576px) {

    .hidden-xs {
        display: none;
    }

    .sort__wrapper {
        flex-wrap: wrap;
    }

    .fastbuy {
        flex-wrap: wrap;
        justify-content: center;
    }

    .fastbuy__item {
        width: 100%;
        align-items: center;margin-bottom: 10px;
    }

    .newsletter__input {
        flex-wrap: wrap;
        margin-top: 10px;
    }
}

/*BLUE TILES*/


.tiles {
    padding-top: 10px;
}

.tile {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: url("../image/img/blue-tile.png") no-repeat center/cover;
    border-radius: 5px;
    margin-bottom: 10px;
}


.tile__image {
    width: 70px;
    height: 70px;
    background-size: 100%;
    font-size: 70px;
    color: #fff;
    text-align: center;
}

.tile__text {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}


.links {
    border: 1px solid #efefef;
    width: 100%;
    margin-bottom: 30px;
}

.tile__link {
    display: block;
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    border-top: 1px solid #efefef;
    background: #fff;
    padding: 12px;
    position: relative;
}

.tile__link:first-child {
    border: none;
}

.tile__link:hover,
.tile__link:focus,
.tile__link:active {
    background: #4b789f;
    color: #fff;
}

.tile__link i {
    position: absolute;
    color: #efefef;
    right: 12px;
    top: 12px;
}

.tile__link:hover i,
.tile__link:focus i,
.tile__link:active i {
    color: #fff;
}

.tile__link.active {
    background: #4b789f;
    color: #fff;
}

.tile__link.active i {
    color: #fff;
}

.social {
    font-size: 14px;
    text-transform: uppercase;
    color: #000c41;
    margin-bottom: 30px;
}

.social__head{
    margin-bottom: 10px;
}

.socials {
    min-height: 42px;
}

.soc {
    width: 42px;
    height: 42px;
    display: block;
    margin-right: 6px;
    float: left;
}

.soc.facebook {
    background: url("../image/icons/Facebook.svg") no-repeat center/40px;
}

.soc.google {
    background: url("../image/icons/Google.svg") no-repeat center/40px;
}

.soc.twitter {
    background: url("../image/icons/Twitter.svg") no-repeat center/40px;
}

.soc.vk {
    background: url("../image/icons/VKnew.svg") no-repeat center/40px;
}

.soc.instagram {
    background: url("../image/icons/Instagram.svg") no-repeat center/36px;
}

.btn__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.input__wrapper {
    min-height: 40px;
}

.btn__green {
    height: 40px;
    width: 150px;
    background: #6eba21;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0;
}

.btn__icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #599e15 url("../image/icons/white-msg.svg") no-repeat center/20px;
}

.social .tile {
    padding: 16px;
    text-align: left;
    color: #fff;
    font-size: 11px;
    align-items: flex-start;
}

.social .tile__text {
    text-align: left;
}

.social input {
    background: #f7f9fb;
}


.form-group {
    align-items: center;
    justify-content: space-between;
}

.main-profile-form-label {
    color: #000c41;
    font-size: 14px;
    font-weight: 700;
}

.main-profile-form-buttons-block .btn__blue {
    display: inline-block;
    background: #5a90c0;
    margin-top: 5px;
}

.main-profile-block-date-info {
    padding-bottom: 10px;
    color: #999999;
    font-size: 14px;
}

.form-control {
    background: #fafafa;
    font-size: 14px;
    min-height: 40px;
}